// COLORS
// LIGHT THEME
$background-white: #f1f5eb;
$primary-white: #fff;
$dark-blue: #2437ac;
$light-blue: #00b8ff;
$grey-font: #727272;
$mid-grey: #d9d9d9;
$grey-border: #e3dbd8;
$primary-black: #16171a;
$footer-bg: #2437ac;

// DARK THEME
$background-white-dark: #212121;
$primary-white-dark: #000;
$light-blue-dark: #fff;
$grey-border-dark: #fff;
$footer-bg-dark: #000;

// FONT
$font-stack: "Plus Jakarta Sans", sans-serif;
$font-70: 4.375rem;
$font-50: 3.125rem;
$font-45: 2.8125rem;
$font-40: 2.5rem;
$font-32: 2rem;
$font-30: 1.875rem;
$font-22: 1.375rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: 0.875rem;
$font-12: 0.75rem;
$semi-bold: 600;
$font-normal: 400;

// SPACING
$section-margin-top: 120px;
$section-width: 67vw;
$input-width: 260px;
$input-height: 60px;
$text-area-height: 130px;

// BORDER
$round-xs: 9.98px;
$round-sm: 20px;
$round-lg: 50px;
$round-full: 999px;
$border-grey-sm: 0.5px solid $grey-border;
$border-grey: 1px solid $grey-border;
$border-dark-blue: 1px solid $dark-blue;
$border-light-blue: 1px solid $light-blue;
$border-light-blue-lg: 2px solid $light-blue;
$border-light-blue-xl: 5px solid $light-blue;

// ICONS
$icon-angle-right: "\f105";
$icon-check: "\f00c";
$icon-check--filled: "\f058";
$icon-calendar: "\f073";
