// COLORS
$background-white: #f1f5eb;
$primary-white: #e3dbd8;
$dark-blue: #2437ac;
$light-blue: #00b8ff;
$grey-font: #727272;
$mid-grey: #d9d9d9;
$grey-border: #e3dbd8;
$primary-black: #16171a;

// FONT
$font-stack: "Plus Jakarta Sans", sans-serif;
$font-70: 5rem;
$font-50: 3.571rem;
$font-45: 3.214rem;
$font-40: 2.857rem;
$font-32: 2.286rem;
$font-30: 2.143rem;
$font-22: 1.571rem;
$font-18: 1.256rem;
$font-16: 1.143rem;
$font-14: 1rem;
$semi-bold: 600;

// SPACING
$section-margin-top: 120px;
$section-width: 67vw;
$input-width: 260px;

// BORDER
$round-sm: 20px;
$round-lg: 50px;
$round-full: 999px;
$border-grey: 1px solid $grey-border;
$border-light-blue: 1px solid $light-blue;

// ICONS
$icon-angle-right: "\f105";
$icon-check: "\f00c";
$icon-calendar: "\f073";