footer {
  width: 100%;
  background-color: var(--footer-bg);

  * {
    color: $primary-white;//var(--primary-white);
  }

  // BACKGROUND
  & > div:first-child {
    height: px-2-rem(548px);
    background-image: url("./assets/images/Vector.png");
    border-bottom: px-2-rem(1px) solid rgba(255, 255, 255, 0.1);
  }

  .content {
    @include flex(space-evenly, center, column);
    margin: 0 auto;
    height: 100%;
  }

  // TOP SECTION
  .logo-social-media {
    @include flex(space-between, center);
    width: 100%;
    padding-bottom: px-2-rem(30px);
    border-bottom: px-2-rem(1px) solid rgba(255, 255, 255, 0.1);

    .social-media {
      @include flex(space-between, center);
      gap: px-2-rem(10px);

      & > div {
        @include flex(center, center);
        @include transition();
        @extend .transparent-b;

        &:hover {
          border: $border-light-blue;
        }
      }
    }
  }

  // MIDDLE SECTION
  .lists {
    @include flex(space-between);
    width: 100%;

    h5 {
      font: {
        size: $font-22;
        weight: bold;
      }
      text-transform: capitalize;
    }

    ul,
    dl {
      margin-top: px-2-rem(30px);
    }

    .email-container {
      margin-top: px-2-rem(30px);
      width: px-2-rem(300px);
      font-size: $font-16;
    }

    div:has(> input) {
      margin-top: px-2-rem(20px);
    }
  }

  // BOTTOM SECTION
  & > div:last-child {
    @include flex(space-between);
    margin: 0 auto;
    opacity: 0.8;
    font-size: $font-16;
    padding: px-2-rem(30px) 0;

    & > div:last-child {
      @include flex(space-between);
      width: px-2-rem(402px);
    }
  }
}
