nav {
  @include flex(space-between, center);
  gap: px-2-rem(130px);
  margin-top: px-2-rem(20px);
  width: 100%;
  background-color: var(--primary-white);
  padding: px-2-rem(10px);
  border-radius: $round-full;

  .nav__links-container {
    @include flex(space-between, center);
    gap: px-2-rem(20px);

    button {
      @extend .transparent;
      text-transform: uppercase;
      color: $dark-blue;
      font: {
        size: $font-16;
        weight: bold;
      }

      i {
        margin-left: px-2-rem(5px);
      }
    }
  }
}
