nav {
  @include flex(space-between, center);
  gap: px-2-rem(130px);
  margin-top: px-2-rem(20px);
  width: 100%;
  background-color: var(--primary-white);
  padding: px-2-rem(10px);
  border-radius: $round-full;

  .nav__links-container {
    @include flex(space-between, center);
    gap: px-2-rem(20px);

    button {
      @extend .transparent;
      text-transform: uppercase;
      color: var(--dark-blue);
      font: {
        size: $font-16;
        weight: bold;
      }

      i {
        margin-left: px-2-rem(5px);
      }
    }
  }

  @media only screen and (max-width: calc($screen-md + 1px)) {
    display: none;

    &.visible {
      @include flex(space-evenly, center, column);

      width: 100vw;
      height: 100vh;
      border-radius: 0;
      left: 0;
      top: 0;
      margin-top: 0;
      position: fixed;
      z-index: 98;

      .nav__links-container {
        @include flex(space-between, center, column);
      }
    }
  }
}
