hero {
  margin-top: 80px;

  .hero__text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero__img__container {
    // TODO: may change
    width: 440px;
    height: 640px;

    .hero__cards-container > div {
      position: absolute;

      .country-card {
        position: relative;
        width: 190px;
        height: 40px;
        padding: 10px 15px;
        background-color: white;
        border-radius: 9.98px;
        border: 0.5px solid var(--grey-border);
        z-index: 2;
        display: flex;
        align-items: center;

        p {
          margin-left: 15px;
        }
      }

      // positioning cards
      &:nth-child(1) .country-card {
        top: 71px;
        left: -59px;
      }

      &:nth-child(2) .country-card {
        top: 71px;
        left: 316px;
      }

      &:nth-child(3) .country-card {
        top: 307px;
        left: -75px;
      }

      &:nth-child(4) .country-card {
        top: 482px;
        left: -110px;
      }

      &:nth-child(5) .country-card {
        top: 464px;
        left: 316px;
      }
    }
  }
}
