hero {
  @include flex(space-between);
  gap: px-2-rem(110px);
  margin-top: px-2-rem(80px);

  & > div:first-child {
    @include flex(center, flex-start, column);
  }

  .hero__img-container {
    width: px-2-rem(440px);
    height: px-2-rem(640px);

    & > img {
      position: absolute;
    }

    .hero__cards-container > div {
      position: absolute;

      .card {
        position: relative;
        z-index: 2;
      }

      // positioning cards
      &:nth-child(1) .card {
        top: px-2-rem(71px);
        left: px-2-rem(-59px);
      }

      &:nth-child(2) .card {
        top: px-2-rem(71px);
        left: px-2-rem(316px);
      }

      &:nth-child(3) .card {
        top: px-2-rem(307px);
        left: px-2-rem(-75px);
      }

      &:nth-child(4) .card {
        top: px-2-rem(482px);
        left: px-2-rem(-110px);
      }

      &:nth-child(5) .card {
        top: px-2-rem(464px);
        left: px-2-rem(316px);
      }
    }
  }
}

section:has(> div.hero__background) {
  @include flex(center);
  width: 100%;

  & > div.container {
    @include flex(flex-start, center, column);
    width: $hero-width;
  }
}

.hero__background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;

  img {
    width: 100%;
  }
}
