hero {
  @include flex(space-between);
  gap: 110px;
  margin-top: 80px;

  &>div:first-child {
    @include flex(center, flex-start, column);
  }

  .hero-img-container {
    // TODO: may change
    width: 440px;
    height: 640px;

    & > img {
      position: absolute;
    }

    .hero__cards-container > div {
      position: absolute;

      .card {
        position: relative;
        z-index: 2;
      }

      // positioning cards
      &:nth-child(1) .card {
        top: 71px;
        left: -59px;
      }

      &:nth-child(2) .card {
        top: 71px;
        left: 316px;
      }

      &:nth-child(3) .card {
        top: 307px;
        left: -75px;
      }

      &:nth-child(4) .card {
        top: 482px;
        left: -110px;
      }

      &:nth-child(5) .card {
        top: 464px;
        left: 316px;
      }
    }
  }
}

section:has(> div.hero-background) {
  @include flex(center);
  width: 100%;

  & > div.container {
    @include flex(flex-start, center, column);
  }
}

.hero-background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;

  img {
    width: 100%;
  }
}