main {
    width: 100%;
    margin-top: calc($section-margin-top + 80px);
    margin-bottom: $section-margin-top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: $section-margin-top;
}