:root {
  --background-white: #f1f5eb;
  --primary-white: #e3dbd8;
  --dark-blue: #2437ac;
  --light-blue: #00b8ff;
  --grey-font: #727272;
  --mid-grey: #d9d9d9;
  --grey-border: #e3dbd8;
  --primary-black: #16171a;
  font-size: 14px;
}

/* GLOBAL STYLES */

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 41px;
  line-height: 90px;
  width: 660px;
  text-transform: capitalize;
}

select,
option {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 1 solid var(--grey-border);
  color: var(--grey-font);
  font-size: 1.143rem;
}

textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100%;
  width: 100%;
}

/* GENERIC */
.mt-333 {
  margin-top: 333px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.size-50 {
  font-size: 3.571rem;
}

.size-45 {
  font-size: 3.214rem;
}

.size-40 {
  font-size: 2.857rem;
}

.size-30 {
  font-size: 2.143rem;
}

.size-22 {
  font-size: 1.571rem;
}

.size-18 {
  font-size: 1.256rem;
}

.size-16 {
  font-size: 1.143rem;
}

.size-14 {
  font-size: 1rem;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.lh-50 {
  line-height: 3.571rem;
}

.lh-30 {
  line-height: 2.143rem;
}

ul.list > li::before,
dl > dt::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.143rem;
  color: var(--light-blue);
  margin-right: 15px;
}

.w-full {
  width: 100% !important;
}

.w-630 {
  width: 630px;
}

.w-570 {
  width: 570px;
}

.w-540 {
  width: 540px;
}


.h-full {
  height: 100%;
}


.h-130 {
  height: 130px !important;
}

.p-60 {
  padding: 60px !important;
}

.p-40 {
  padding: 40px !important;
}


.bg-grey {
  background: var(--mid-grey);
}

.bg-white {
  background: white;
}

.white {
  color: white;
}

.grey {
  color: var(--grey-font);
}

.light-blue {
  color: var(--light-blue);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.mirror {
  transform: scaleX(-1);
}

.up-right {
  transform: rotate(-45deg);
}

.down-right {
  transform: rotate(90deg);
}

/* COMPONENTS */

/*  */
/* CHOOSE US SECTION */
/*  */

.choose-us {
  display: flex;
}

.choose-us__offset-border {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid var(--light-blue);
  border-radius: 20px;
  top: 40px;
  left: -40px;
  z-index: 1;
}

.offset-card {
  width: 182;
  position: absolute;
  background-color: var(--light-blue);
  padding: 20px 30px;
  border-radius: 20px;
  top: 405px;
  left: 318px;
  z-index: 2;
}