.btn {
  @include flex(center, center);
  gap: px-2-rem(10px);
  font-weight: 600;
  font-size: $font-14;
  text-transform: capitalize;
  border-radius: $round-full;
  padding: px-2-rem(20px) px-2-rem(30px);
  height: px-2-rem(60px);
  border: none;
  color: var(--primary-white);
  background-color: var(--light-blue); //var(--light-blue);

  i {
    font-size: $font-16;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }
}

.btn--transparent {
  border: px-2-rem(1px) solid var(--dark-blue);
  color: var(--dark-blue);
  background-color: transparent;
}

.btn--grey {
  background: var(--mid-grey);
}

.btn--circle {
  width: px-2-rem(55px);
  padding: 0;
  height: px-2-rem(55px);
  border-radius: 50%;
}

.btn--circle-sm {
  width: px-2-rem(35px);
  height: px-2-rem(35px);
  padding: 0;
  border-radius: 100%;
}

.btn--menu {
  @include floating(px-2-rem(30px));
  z-index: 99;

  @media only screen and (max-width: $screen-sm) {
    @include flex(center, center);
  }

  @media only screen and (min-width: calc($screen-sm + 1px)) {
    opacity: 0;
    z-index: -3;
  }
}

.btn--settings {
  @include floating(px-2-rem(100px));
}

// .btn--theme {
//   right: px-2-rem(10px);
//   top: px-2-rem(100px);
// }
