.card {
  @extend .transition;
  border-radius: $round-sm;
  border: $border-grey;
  padding: 30px;
  color: $dark-blue;

  h4 {
    // TODO: from available countries & recent blogs & coaching support
    margin-top: 10px;
    text-transform: capitalize;
    font: {
      size: $font-30;
      weight: $semi-bold;
    }
  }

  h5 {
    // TODO: from available countries & recent blogs & coaching support
    text-transform: capitalize;
    margin-top: 20px;
    font: {
      size: $font-22;
      weight: bold;
    }
  }

  h6 {
    color: $grey-font;
    font: {
      weight: $semi-bold;
      size: $font-14;
    }
  }

  p {
    margin-top: 20px;
    color: $grey-font;
    line-height: 30px;
    font-size: $font-16;
  }

  //   SIZES
  &.card--xs {
    @include flex(flex-start, center);
    gap: 15px;
    width: 190px;
    height: 40px;
    padding: 10px 15px;
    border: $border-grey-sm;
    border-radius: $round-xs;

    p {
      margin-top: 0;
      line-height: normal;
      color: $dark-blue;
    }
  }

  //   BACKGROUND COLORS
  &.card--white {
    background-color: white;
  }

  //   BORDERS
  &.card--border-xl {
    border: $border-light-blue-xl;
  }

  &.card--border-lg {
    border: $border-light-blue-lg;
  }

  //   ANIMATIONS
  &.card--hover:hover {
    border: $border-light-blue;
  }
}

.card--img-left {
  @include flex(space-between);
  background-color: white;
  gap: 20px;
  padding: 0;
  border: none;

  h4 {
    width: 320px;
    margin-top: 10px;
    font: {
      size: $font-22;
      weight: bold;
    }
    line-height: 30px;
  }

  h5 {
    font: {
      size: $font-18;
      weight: $semi-bold;
    }
    line-height: 28px;
  }

  & > div:last-child {
    padding-top: 40px;

    & > div:has(> a) {
      margin-top: 30px;

      i {
        font-size: $font-16;
        margin-left: 10px;
      }

      & * {
        color: $light-blue;
        font-weight: $semi-bold;
      }
    }
  }

  &.card--with-date > div:last-child {
    padding: 30px;
    padding-left: 0;

    .card-date {
      @include flex(flex-start, center);
      gap: 30px;

      h6 {
        @include flex(flex-start, center);
        gap: 5px;
      }

      & * {
        color: $grey-font;
        font-size: $font-16;
        font-weight: $font-normal;
      }
    }

    & > div:has(> a) {
      margin-top: 20px;

      i {
        font-size: $font-14;
      }

      & * {
        color: $dark-blue;
      }
    }
  }
}

.card--img-top {
  background-color: white;
  border: none;
  padding: 0;

  h4 {
    margin-top: 20px;
    line-height: 30px;
    font: {
      size: $font-22;
      weight: bold;
    }
  }

  img {
    margin-top: 20px;
  }

  div:has(> a) {
    margin-top: 30px;
    font-weight: $semi-bold;

    a {
      color: $dark-blue;
    }

    i {
      margin-left: 10px;
    }
  }

  & > div:last-child {
    padding: 40px;
    padding-top: 0;

    .card-date {
      @include flex(flex-start, center);
      gap: 60px;

      h6 {
        @include flex(flex-end, center);
        gap: 10px;

        color: $grey-font;
        font: {
          size: $font-16;
          weight: $font-normal;
        }

        i {
          color: $light-blue;
        }
      }
    }
  }
}
