.container {
  width: $section-width;
  border-radius: $round-lg;
}

.container--lg {
  background-color: $primary-white;
  border-radius: 50px;
  padding: 120px 12%;
}

.input-container {
  @include flex(flex-start, stretch, column);
  width: $input-width;
  gap: 10px;
}

.collage-container {
  @include flex(flex-start, stretch, column, wrap);
  gap: 30px;

  height: 640px;
}

.card-fill-container {
  @include flex(space-between, center);
  @include gap-width(30px, 4);
  width: auto;
}

.section-heading-container {
  @include flex(space-between, flex-end);
  margin-bottom: 60px;
}

// TODO: check in why choose us, ask question, visa category, success story, message us
.section-row {
  @include flex(space-between, center);
  @include gap-width(30px, 2);
}