.section-heading {
    width: px-2-rem(630px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // PARAGRAPH
  &>p {
    @include flex(space-between,center);
    gap: px-2-rem(10px);
    text-transform: uppercase;
    font-weight: $semi-bold;
    letter-spacing: px-2-rem(1.4px);
    font-size: $font-14;
  }

  // HEADING
  &>h1 {
    font-size: $font-70;
    font-weight: bold;
    margin-bottom: px-2-rem(41px);
    line-height: px-2-rem(90px);
    width: px-2-rem(660px);
    text-transform: capitalize;
  }

  &>h2 {
    text-transform: capitalize;
    font-size: $font-50;
    line-height: px-2-rem(60px);
    margin-top: px-2-rem(10px);
    font-weight: bold;
  }
}

.container--lg .section-heading{
  width: px-2-rem(630px);
  @include flex(center, center, column);
  text-align: center;
}