.minus {
  width: 30px;
  height: 3px;
  background-color: var(--light-blue); //$light-blue;
  border-radius: $round-full;
}

.dot {
  display:inline-block;
  width: 8px;
  height: 8px;
  border-radius: $round-full;
  background-color: $dark-blue;
  border: $border-dark-blue;

  &.dot--hollow {
    background-color: transparent;
  }
}

.mirror {
  transform: scaleX(-1);
}

.up-right {
  transform: rotate(-45deg);
}

.down-right {
  transform: rotate(90deg);
}