summary.angle {
  @include flex(space-between, center);

  & > div:last-child {
    @include flex(center, center);
    @include transition();
    width: px-2-rem(40px);
    height: px-2-rem(40px);
    border: none;
    border-radius: $round-full;
    background-color: var(--primary-white);
    color: $dark-blue;
  }

  &:hover {
    cursor: pointer;
  }
}

details[open] summary.angle > div:last-child {
  transform: rotate(-90deg);
  background-color: var(--light-blue); //$light-blue;
  color: var(--primary-white);
}
