.text-input {
  @include flex(space-between, center);
  box-sizing: border-box;
  width: $input-width;
  height: $input-height;
  border: $border-grey;
  border-radius: $round-full;

  input {
    width: -webkit-fill-available;
    color: $grey-font;
  }

  textarea {
    color: $grey-font;
  }

  &:has(> textarea) {
    padding-top: px-2-rem(15px);
    height: $text-area-height;
  }

  &.text-input--semi-transparent {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: calc($input-width + px-2-rem(40px));

    input {
      color: $primary-white;
      width: calc($input-width - ($input-height / 3));

      &::placeholder {
        color: $primary-white;
      }
    }

    // ICON
    & > div:last-child {
      @include flex(center, center);
      background-color: $light-blue; //$light-blue;
      width: $input-height;
      height: $input-height;
      font: $font-16;
      border-radius: 50%;
    }
  }

  &:has(> textarea) {
    border-radius: $round-sm;
  }

  &.text-input--1-icon {
    padding-right: px-2-rem(20px);

    &:has(> textarea) {
      align-items: flex-start;
    }
  }

  &.text-input--2-icon {
    padding-left: px-2-rem(40px);
    padding-right: px-2-rem(40px);

    input[type="number"] {
      width: px-2-rem(80px);
      padding-left: 0;
    }
  }
}
