* {
  margin: 0;
  padding: 0;
  @include transition(background-color, 0.5s);
  /* TODO: may add box-sizing: border-box */
}

textarea,
input {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: transparent;
  padding-left: $round-sm;
  height: 100%;
  width: 100%;
  font-size: $font-16;
  resize: none;
  outline: none;
  border: none;
}

input[type="number"] {
  text-align: center;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover,
select:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

select {
  background-color: transparent;
  text-align: center;
}

select,
option {
  width: 100%;
  height: 100%;
  border: 1 solid var(--grey-border);
  color: var(--grey-font);
  font-size: $font-16;
}

label {
  text-transform: capitalize;
}

textarea::placeholder {
  font-family: $font-stack;
  color: var(--grey-font);
}

details {
  margin-top: px-2-rem(30px);
}

summary {
  list-style: none;

  font: {
    size: $font-18;
    weight: $semi-bold;
  }
}

summary + p {
  margin-top: px-2-rem(10px);
  color: var(--grey-font);
}

.icon * {
  font-family: "icomoon";
  display: flex;
  align-items: center;
  justify-content: center;
}

dl {
  margin-top: px-2-rem(30px);
}

dt {
  @include flex(flex-start, center);
}
