@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../assets/font/PlusJakartaSans-VariableFont_wght.ttf");
}

body {
  color: var(--dark-blue);
  font-family: $font-stack;
}

button,
option,
select {
  font-family: $font-stack;
}

button {
  font-size: $font-14;
}

label {
  font-size: $font-14;
}

h2 {
  text-transform: capitalize;
  font: {
    size: $font-50;
    weight: bold;
  }
}

h3 {
  text-transform: capitalize;
  font: {
    size: $font-50;
    weight: bold;
  }
}

h4 {
  text-transform: capitalize;
  font: {
    size: $font-30;
    weight: $semi-bold;
  }
}

h5 {
  text-transform: capitalize;
  font: {
    size: $font-22;
    weight: bold;
  }
}

h6 {
  color: var(--dark-blue);
  font: {
    weight: $semi-bold;
    size: $font-18;
  }
}
