$font-stack: "Plus Jakarta Sans", sans-serif;
$size-50: 3.571rem;
$size-45: 3.214rem;
$size-40: 2.857rem;
$size-30: 2.143rem;
$size-22: 1.571rem;
$size-18: 1.256rem;
$size-16: 1.143rem;
$size-14: 1rem;