body {
  color: $dark-blue;
  font-family: $font-stack;
}

button, option, select {
  font-family: $font-stack;
}

button {
  font-size: $font-14;
}

// h3 {
//     margin-top: -10px;
//     font: {
//       size: $font-50;
//       weight: bold;
//     }
//   }

//   h4 {
//     // TODO: from available countries & recent blogs & coaching support
//     margin-top: 10px;
//     text-transform: capitalize;
//     font: {
//       size: $font-30;
//       weight: $semi-bold;
//     }
//   }

//   h5 {
//     // TODO: from available countries & recent blogs & coaching support
//     text-transform: capitalize;
//     margin-top: 20px;
//     font: {
//       size: $font-22;
//       weight: bold;
//     }
//   }

//   h6 {
//     color: $grey-font;
//     font: {
//       weight: $semi-bold;
//       size: $font-14;
//     }
//   }