:root.dark-theme {
  --background-white: #{$background-white-dark};
  --primary-white: #{$primary-white-dark};
  --light-blue: #{$light-blue-dark};
  --grey-border: #{$grey-border-dark};
  --footer-bg: #{$footer-bg-dark};
}
