:root {
--background-white: #{$background-white};
--primary-white: #{$primary-white};
--dark-blue: #{$dark-blue};
--light-blue: #{$light-blue};
--grey-font: #{$grey-font};
--mid-grey: #{$mid-grey};
--grey-border: #{$grey-border};
--primary-black: #{$primary-black};
--footer-bg: #{$footer-bg};
  font-size: 16px;
}